{% extends "base.html" %}

{% block title %}關於 Ellery{% endblock %}

{% block content %}
<h2>這是 Ellery 的介紹頁面</h2>
<p>我是一位 Flask 愛好者！</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/9UoTv-_YcLg?si=fgVZtI5RFjSdS9Cu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/4C0LL4DPpc4?si=RiOQswwDIv6sRXFz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endblock %}
